*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.section-p1{
    padding: 40px 80px;
}
/* navbar start  */
.logo{
    height: 40vh;
}
#header{
    background-color: rgba(13, 35, 51, 0.958);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    height: 90px;
    width: 100%;
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input[type=text]{
    width: 300px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search {
    float: right;
    margin: 7px;
}
.search:hover{
    border: 2px solid red;
    border-radius: 5px;
}
 
.search button {
    background-color: rgb(255,174,0);
    color: #0f1111;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 35px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: aliceblue;
    transition: 0.3s ease;
}
#navbar li a:hover,#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* navbar END  */

/* who are we section START */
#page-header{
    background-image: url(images/about/about-banner.png);
    height: 40vh;
    width: 98.09%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    padding: 14px;
    font-size: 3rem;
}
#page-header h2,p{
    color: aliceblue;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head div p{
    color: black;
}

/* who are we section END */

/* video section START */
#about-video{
    text-align: center;
}
#about-video .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-video .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* video section END */

/* features section START */
.section-p1{
    padding: 40px 80px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.feature-box img{
   height: auto;
   width: 100%;
   margin-bottom: 10px;
}
.feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.06);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 2rem;
    font-weight: 800;
}
.feature-box:hover{
    box-shadow: 10px 10px 74px rgba(0,0,0,0.2);
}
.feature-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: white;
    background-color: #088178;
    display: inline-block;
}
.feature-box:nth-child(2) h6{
    background-color: #f0ad4e;
}
.feature-box:nth-child(3) h6{
    background-color: #d9534f;
}
.feature-box:nth-child(4) h6{
    background-color: #5bc0de;
}
.feature-box:nth-child(5) h6{
    background-color: #d67ed6;
}
/* features section END */

/*  New Updates section Start */
#update{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/update-banner.jpeg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
}
#update .newstext h1{
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
}
#update .newstext p{
    font-size: 1rem;
    font-weight: 500;
    color: #088178;
}
#update .newstext p span{
    color: red;
}

#update .form input{
    height: 3rem;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
}
#update .form button{
    height: 5vh;
    width: 10vw;
    background-color: rgb(255,174,0);
    color: #0f1111;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer; 
    white-space: nowrap;   
}
/* New Updates section End */

/* footer section Start */
.section-footer{
    padding: 10px 20px;
}
.footer-logo{
    width: 15vw;
    height:15vh;
}
footer{
    background-color: rgba(13, 35, 51, 0.958);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}
footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer h4{
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 20px;
    color: rgb(255,255,255);
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: rgb(221,221,221);
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: rgb(221,221,221);
    margin-bottom: 10px;
}
footer .social{
    margin-top: 20px;
}
footer .social i{
    color: white;
    padding-right: 10px;
    cursor: pointer;
}
footer .social i:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}
/* footer section End  */

/* CALL TO ACTION banner Start */


/* TEXT banner Start */


/* TEXT banner End */


/* home page END */