*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(images/login/hero-bg.jpg);
}
.form-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    max-width: 720px;
    width: 100%;
    transform: translate(-50%, -50%);
}
.form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.form-popup .form-box{
    display: flex;
}
.form-box .form-details{
    max-width: 320px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(images/login/login-img.jpg); 
    background-size: cover;
    background-position: center;
}
.form-box h2{
    text-align: center;
    margin-bottom: 30px;
}
.form-box .form-content{
    width: 100%;
    padding: 35px;
}
form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;    
}
.input-field input:focus{
    border-color: #00bcd4;
}
.input-field input:is(:focus,:valid){
    padding: 16px 15px 0;
}
form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}
.input-field input:is(:focus, :valid) ~ label{
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
}
.form-box a{
    color: #00bcd4;
    text-decoration: none;
}
.form-box a:hover{
    text-decoration: underline;
}
.form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}
form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
}
form button:hover{
    background-color: #0097a7;
}
.form-box .bottom-link{
    text-align: center;
}



